[user]
  name = Tony Coconate
  email = me@tonycoconate.com
[github]
  user = tonycoco
[apply]
  whitespace = nowarn
[alias]
  co = checkout
  cob = checkout -b
  st = status
  br = branch
  ci = commit -am
  pom = push origin master
  pl = pull
  di = diff --color-words
  weekreport = shortlog --since=1.weeks --author=tonycoco
  gl = log --graph --abbrev-commit --pretty=oneline --decorate
[color]
  ui = true
