[user]
	name = Tony Coconate
  email = me@tonycoconate.com
[github]
  user = tonycoco
[apply]
  whitespace = nowarn
[alias]
  co = checkout
  cob = checkout -b
  st = status
  br = branch
  ci = commit -a -m
  pom = push origin master
  phm = push heroku master
  pdm = push devmynd master
  pl = pull
  di = diff --color-words
  weekreport = shortlog --since=1.weeks --author=tonycoco
  gl = log --graph --abbrev-commit --pretty=oneline --decorate
  this = !git init && git add . && git commit -m "initial commit"
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
[color]
  ui = true
[merge]
  tool = opendiff
[core]
  excludesfile = ~/.gitignore
  editor = subl -n -w
[push]
  default = upstream
